<!DOCTYPE html>
<html lang="en">
	<head>
		<title>Taquitos</title>
		<link rel="stylesheet" href="assets/css/taco_style.css">
	</head>
	<body>
		
		{{{ body }}}

		<script src=""></script>
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
		<script src="assets/scripts/client.js"></script>

		

	</body>
</html>
