<!DOCTYPE html>
<html lang="en">

<head>
	<title>Taquitos</title>
	<link rel="stylesheet" href="assets/css/style.css">
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0-beta/css/materialize.min.css">



</head>

<body>

	{{{ body }}}

	<img src="assets/img/taco.png" width="200px" id="taco.png">
 
</body>

</html>