.clearfix:after { 
    content:"";
    display: table;
    clear: both;
    }
    

body{
    background-color: gold;
    
}

 
.bg-red {
    background-color: red;
    color: white;
}

.bg-blue {
    background-color: blue;
    color:white;
}

.bg-brown {
    background-color: brown;
    padding: 5px;
    width: 300px;
    float: left;
}

.bg-black {
    background-color: black;
    padding: 5px;
    width: 300px;
    float: left;
}

img{
    float: left;
}