.clear:after {
    content: "";
    display: table;
    clear: both;
}

body {
    background-color: gold;
}

.bg-red {
    background-color: red;
    color: white;
}

.bg-blue {
    background-color: blue;
    color: white;
}

.bg-brown {
    background-color: brown;
    color: white;
    padding: 5px;
    width: 300px;
    float: left;
}

.bg-black {
    background-color: black;
    color: white;
    padding: 5px;
    width: 300px;
    float: left;
}

.container {
    width: 30%;
}

.float-left {
    float: left;
}

.float-right {
    float: right;
}

.center-content {
    text-align: center;
    margin: 0% auto;
}

 
.block {
    display: block;
}

.marging2{
    margin-bottom:2%;
}

img{
    width: 100%;
    padding-left: 40px;
}

.taco_img {
    width: 30%;
}